doctype html
html
  head
    title= title || 'Signalements'
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // Police sobre et moderne
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap", rel="stylesheet")
    
  body
    // Barre de navigation sobre
    nav.nav-bar
      .nav-container
        ul.nav-links
          li
            a(href="/signalements") Signalements
          li
            a(href="/") Accueil
          li
            a(href="/about") À propos
        
        // Élément animé (remplace le drapeau pirate)
        .nav-icon 🗺️
    
    // Contenu principal
    main.content
      block content
      // Pied de page sobre
    footer.footer
      p © #{new Date().getFullYear()} - Tous droits réservés